#game-intro{
    background-size: cover;
    background-image: url(../images/riceField2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.Instructions{
    font-size: 30px;
    padding-bottom: 30px;
    font-family:"Rasa", serif; 
    backdrop-filter: blur(10px);
}

.Instructions h1 {
  font-weight: bold;
}

.title {
    font-size: 70px;
    padding-bottom: 60px;
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
    backdrop-filter: blur(10px);
}

h1{
    padding-bottom: 30px;
    
}
.Objective{
    padding-bottom: 30px;
}

.Objective h2 {
  font-weight: bold;
}

.Controls{
    padding-bottom: 30px;
}

.Controls h2 {
  font-weight: bold;
}

.Scoring h2 {
  font-weight: bold;
}

#start-btn{
    background-color: #4b42f4; 
    border-bottom: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin: 0;
    appearance: none;
    
}
#start-btn:hover {
    background-color: #4198f4; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}
#game-container {
    display: none;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
  }
  #game-screen {
    display: none;
    align-content: center;
    overflow: hidden;
    position: relative;
    background-image: url(../images/riceField2.jpg);
    background-size: cover;  
  }

  #game-end {
      display: none;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url(../images/riceField2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      backdrop-filter: blur(5px);
      color: white;
      z-index: 10;
      flex-direction: column;
      padding: 20px;
    }
  
  .game-over {
      font-size: 150px;
      margin-bottom: 20px;
      font-family: "Rubik Puddles", cursive;
      color: #ffc107;
      backdrop-filter: blur(10px);
    }

  .end-message {
    font-size: 60px;
    margin-bottom: 20px;
    font-family:"Rasa", serif; 
    color: #ffc107;
    backdrop-filter: blur(10px);
  }

  .end-score {
    font-size: 60px;
    margin-bottom: 20px;
    font-family:"Rasa", serif; 
    color: #ffc107;
    backdrop-filter: blur(10px);
  }
  
  #restart-button{
    background-color: #4b42f4; 
    border-bottom: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin: 0;
    appearance: none;
  }

  #restart-button:hover {
    background-color: #4198f4; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}

#win-game {
  display: none;
   justify-content: center;
      align-items: center;
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url(../images/riceField2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      backdrop-filter: blur(5px);
      color: white;
      z-index: 10;
      flex-direction: column;
      padding: 20px;
    }

    #restart-button-win{
      background-color: #4b42f4; 
      border-bottom: none;
      padding: 10px 30px;
      font-size: 16px;
      border-radius: 50px; 
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100px;
      margin: 0;
      appearance: none;
    }
  
    #restart-button-win:hover {
      background-color: #4198f4; 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
      transform: translateY(-2px); 
  }

.victory {
    font-size: 150px;
    margin-bottom: 20px;
    font-family: "Rubik Puddles", cursive;
    color: #ffc107;
    backdrop-filter: blur(10px);
  }

.win-message {
  font-size: 60px;
  margin-bottom: 20px;
  font-family:"Rasa", serif; 
  color: #ffc107;
  backdrop-filter: blur(10px);
}

  /* @keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -500px 0;
    }
  } */

  .progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 30px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 500px;
}
.progress-bar {
  background-color: #4caf50;
  width: 0%; 
  height: 30px;
  transition: width 0.3s ease-in-out; 
}

  